<html>
	<head>
		<title>Nationwide Home Warranty - Customer ID: <%=@customer.id%></title>
		<style type="text/css">
			table tr td.label {
				text-align: right;
			}
		</style>
	</head>
	<body onload="window.print();">
		<%=yield%>
	</body>
</html>